<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" color="cyan lighten-2" dark class="my-5">
          <slot></slot>
        </v-btn>
      </template>
      <PasswordReset :onReset="onReset" />
    </v-dialog>
  </div>
</template>
<script>
const urlPhone = "http://localhost:3000/phones";
import PasswordReset from "./auth/PasswordReset";
export default {
  props: ["onOpen"],
  data() {
    return {
      dialog: false
    };
  },
  components: {
    PasswordReset
  },
  methods: {
    open() {
      this.onOpen({
        dialog: true
      });
    },
    onReset(data) {
      this.dialog = data.dialog;
      const resetPassword = {
        phone: this.phone,
        password: this.password
      };

      this.axios.post(urlPhone, resetPassword);
    }
  }
};
</script>