<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="company"
      :items-per-page="5"
      class="elevation-1"
      :footer-props="{
        itemsPerPageText: 'Строк на странице'
      }"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Добавить компанию</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.photo" label="Фото"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.title" label="Название"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.category" label="Категория"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.data" label="Дата подключения"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItem.workers" label="Работники"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        v-model="editedItem.transactionsNumber"
                        label="Количество транзакций"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  {{companyArr}}
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Отмена</v-btn>
                <v-btn color="blue darken-1" type="submit" text @click="save">Сохранить</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
        <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
      </template>
    </v-data-table>
  </div>
</template>
<script>
const urlCompany = "http://localhost:3000/company";
export default {
  data: () => ({
    dialog: false,
    headers: [
      {
        text: "",
        align: "left",
        sortable: false,
        value: "photo"
      },
      { text: "Название", value: "title" },
      { text: "Категории", value: "category" },
      { text: "Дата подключения", value: "data" },
      { text: "Работники", value: "workers" },
      { text: "Количество транзакций", value: "transactionsNumber" },
      { text: "", value: "action", sortable: false }
    ],
    editedIndex: -1,
    addItem: {
      photo: 0,
      title: "",
      category: "",
      data: 0,
      workers: 0,
      transactionsNumber: 0
    },
    editedItem: {
      photo: 0,
      title: "",
      category: "",
      data: 0,
      workers: 0,
      transactionsNumber: 0
    },
    defaultItem: {
      photo: 0,
      title: "",
      category: "",
      data: 0,
      workers: 0,
      transactionsNumber: 0
    },
    companyArr: []
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Добавить компанию"
        : "Редактировать компанию";
    },
    company() {
      return this.$store.getters.company;
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  mounted() {
    setTimeout(() => {
      this.setCompany();
    }, 500);
  },
  methods: {
    setCompany() {
      this.axios.get(urlCompany).then(response => {
        const payload = response.data;
        this.loader = !this.loader;
        return this.$store.dispatch("setCompany", payload);
      });
    },
    editItem(item) {
      this.editedIndex = this.company.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    deleteItem(item) {
      const index = this.company.indexOf(item);
      confirm("Вы уверены что хотите удалить компанию") &&
        this.company.splice(index, 1);
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.company[this.editedIndex], this.editedItem);
      } else {
        this.$store.dispatch("createCompany", this.editedItem);
      }
      this.close();
    }
  }
};
</script>