* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
$red: #ff473d;
$dark: #103581;
$grey: rgba(244, 246, 248, 0.5);

@mixin transition($property: all, $duration: 0.3s, $ease: linear) {
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}
.btn {
  display: block;
  width: 250px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: $red;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  @include transition();
  &:hover {
    background: #ff160a;
  }
  &:disabled {
    opacity: 0.3;
    cursor: text;
  }
}
form {
  .btn {
    margin: 15px auto 0;
  }
}
.form-group {
  margin-bottom: 25px;
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  input {
    display: block;
    height: 60px;
    width: 100%;
    background: $grey;
    color: #7a7a7a;
    font-size: 17px;
    font-weight: 400;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  .invalid-feedback {
    padding: 5px 0;
    font-size: 14px;
    color: $red;
    @include transition();
  }
  &.is-invalid {
    input {
      border-color: $red;
    }
  }
}
