<template>
  <v-app id="inspire">
    <v-app-bar app color="cyan" dark class="elevation-0"></v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      class="pr-3"
      app
      :mini-variant.sync="mini"
      color="cyan"
      dark
    >
      <v-icon @click.stop="mini = !mini" class="px-5 py-5">mdi-menu</v-icon>
      <v-list class="pa-0">
        <router-link
          v-for="link in links"
          :key="link.title"
          :to="link.url"
          tag="div"
          class="v-list-item px-0"
        >
          <v-list-item-action class="px-0 ma-0">
            <v-icon class="px-5">{{link.icon}}</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title class="subtitle-1 ma-0 pa-0">
              {{
              link.title
              }}
            </v-list-item-title>
          </v-list-item-content>
        </router-link>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>
<script>
export default {
  name: "App",
  props: {
    source: String
  },
  data: () => ({
    drawer: null,
    mini: true
  }),
  computed: {
    isUserLoggedIn() {
      return this.$store.getters.isUserLoggedIn;
    },
    links() {
      if (this.isUserLoggedIn) {
        return [
          { title: "Компании", url: "/company", icon: "mdi-home" },
          { title: "Работники", url: "/workers", icon: "mdi-account-multiple" },
          { title: "Aкции", url: "/sales", icon: "mdi-sale" }
        ];
      }
      return [{ title: "Autorization", url: "/", icon: "mdi-login" }];
    }
  },
  methods: {
    onOpen(data) {
      this.dialog = data.dialog;
    }
  }
};
</script>
