<template>
  <div class="page">
    <div v-if="!user" class="form-part registration">
      <h2>Создать аккаунт</h2>
      <Phone v-if="stepLoading === 1" :onPhone="firstRegistrationStep" key="step1" />
      <Code v-if="stepLoading === 2" :onCode="secondRegistrationStep" key="step2" />
      <Registration v-if="stepLoading === 3" :onRegistration="thirdRegistrationStep" key="step3" />
    </div>
    <div v-else class="form-part login">
      <div class="form-block">
        <h2>Авторизироваться</h2>
        <Login :onLogin="loginUser" />
      </div>
    </div>

    <div class="overlay" :class="{ user: user }">
      <div v-if="!user">
        <h2>Добро пожаловать</h2>
        <p>Заполните личную информацию, что-бы создать аккаунт.</p>
        <p>Если у Вас уже есть аккаун - авторизируйтесь</p>
        <span class="btn overlay-btn" v-on:click="user = !user">Авторизация</span>
      </div>
      <div v-else>
        <h2>Привет, друг!</h2>
        <p>Введите Ваши персональные данные, что-бы войти в аккаунт</p>
        <p>Нет аккаунта? Зарегестрируйся</p>
        <span class="btn overlay-btn" v-on:click="user = !user">Регистрация</span>
      </div>
    </div>
  </div>
</template>
<script>
const urlPhone = "http://localhost:3000/phones";
import Phone from "./Phone";
import Code from "./Code";
import Registration from "./Registration";
import Login from "./Login";

export default {
  data() {
    return {
      user: false,
      info: ""
    };
  },
  computed: {
    stepLoading() {
      return this.$store.getters.stepLoading;
    }
  },
  methods: {
    firstRegistrationStep(data) {
      const phone = {
        phone: data.phone
      };
      this.axios.post(urlPhone, phone).then(() => {
        this.$store.dispatch("registrationPhoneCheck", phone);
      });
    },
    secondRegistrationStep(data) {
      const registrationPhoneInfo = {
        phone: this.$store.state.user.phone,
        code: data.code
      };
      this.axios.post(urlPhone, registrationPhoneInfo).then(() => {
        this.$store.dispatch("codeCheck", registrationPhoneInfo);
      });
    },
    thirdRegistrationStep(data) {
      const userRegistrationInfo = {
        phone: this.$store.state.user.phone,
        password: data.password
      };
      this.axios.post(urlPhone, userRegistrationInfo).then(() => {
        this.$store
          .dispatch("registrationUser", userRegistrationInfo)
          .then(() => {
            this.$router.push("/company");
          });
      });
    },
    loginUser(data) {
      const userInfo = {
        phone: data.phone,
        password: data.password
      };
      this.$store.dispatch("loginUser", userInfo).then(() => {
        this.$router.push("/company");
      });
    }
  },
  components: {
    Phone,
    Code,
    Registration,
    Login
  }
};
</script>
<style lang="scss">
h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}
p {
  width: 75%;
  margin: 0 auto 35px !important;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  z-index: 999;
  .form-part {
    height: 100%;
    padding: 60px;
    &.registration {
      margin-left: 40%;
    }
    &.login {
      margin-right: 40%;
    }
    h2 {
      color: #103581;
    }
    form {
      p {
        font-size: 22px;
        font-weight: 500;
        width: 100%;
        text-align: left;
        span {
          font-size: 23px;
          font-weight: 600;
          color: #103581;
          margin-right: 7px;
        }
      }
    }
    .form-block {
      max-width: 580px;
      margin: 0 auto;
      p {
        width: 100%;
        text-align: left;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  .overlay {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: linear-gradient(135deg, #27c189, #237bbf);
    transition: all 0.3s ease-in-out;
    &.user {
      left: 60%;
    }
    * {
      color: #fff;
    }
    .btn {
      margin: 15px auto 0;
    }
  }
}
</style>
