<template>
  <form>
    <p>
      <span>Шаг 2:</span> Введить код из смс
    </p>
    <div class="form-group" :class="{ 'is-invalid': $v.code.$error }">
      <label for="code">Ваш код</label>
      <input
        type="text"
        class="form-control"
        id="code"
        placeholder="Код смс"
        v-model="code"
        @blur="$v.code.$touch()"
      />
      <div class="invalid-feedback" v-if="$v.code.$error && !$v.code.required">Поле код обязательно</div>
      <div class="invalid-feedback" v-else-if="!$v.code.numeric">Поле не должно содержать буквы</div>
      <div
        class="invalid-feedback"
        v-else-if="!$v.code.minLength || !$v.code.maxLength"
      >Это поле должно содержать 4 символа</div>
    </div>
    <button
      type="submit"
      class="btn"
      :disabled="$v.code.$invalid"
      @click.prevent="sendCode"
    >Подтвердить</button>
  </form>
</template>
<script>
const {
  required,
  minLength,
  maxLength,
  numeric
} = require("vuelidate/lib/validators");
export default {
  props: ["onCode"],
  data() {
    return {
      code: ""
    };
  },
  validations: {
    code: {
      required,
      numeric,
      minLength: minLength(4),
      maxLength: maxLength(4)
    }
  },
  methods: {
    sendCode() {
      this.onCode({
        code: this.code
      });
    }
  }
};
</script>