<template>
  <form>
    <div class="form-group" :class="{ 'is-invalid': $v.phone.$error }">
      <label for="phone" class="form__label">Телефон</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        placeholder="Телефон"
        v-model="phone"
        @blur="$v.phone.$touch()"
      />
      <div
        class="invalid-feedback"
        v-if="$v.phone.$error && !$v.phone.required"
      >Поле телефон обязательно</div>
      <div class="invalid-feedback" v-else-if="!$v.phone.numeric">Поле не должно содержать буквы</div>
      <div
        class="invalid-feedback"
        v-else-if="!$v.phone.minLength || !$v.phone.maxLength"
      >Это поле должно содержать 10 символов</div>
    </div>
    <div class="form-group" :class="{ 'is-invalid': $v.password.$error }">
      <label for="password">Введите пароль</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Пароль"
        v-model="password"
        @blur="$v.password.$touch()"
      />
      <div
        class="invalid-feedback"
        v-if="$v.password.$error && !$v.password.required"
      >Поле пароль обязательно</div>
      <div
        class="invalid-feedback"
        v-else-if="!$v.password.minLength"
      >Это поле должно содержать не менее 6 символов</div>
    </div>
    <ModalWindow>
      <template>Забыли пароль?</template>
    </ModalWindow>
    <button
      type="submit"
      class="btn"
      :disabled="$v.phone.$invalid || $v.password.$invalid"
      @click.prevent="login"
    >Войти</button>
  </form>
</template>
<script>
import ModalWindow from "../ModalWindow";
const {
  required,
  minLength,
  maxLength,
  numeric
} = require("vuelidate/lib/validators");
export default {
  props: ["onLogin"],
  data() {
    return {
      phone: "",
      password: ""
    };
  },
  validations: {
    phone: {
      required,
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    },
    password: {
      required,
      minLength: minLength(6)
    }
  },
  methods: {
    login() {
      this.onLogin({
        phone: this.phone,
        password: this.password
      });
    }
  },
  components: {
    ModalWindow
  }
};
</script>
<style lang="scss" scoped>
button.v-btn {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #103581;
  color: #103581;
  margin-bottom: 30px;
  padding: 0 0 2px;
  font-size: 16px;
  font-weight: 500;
}
</style>