<template>
  <v-card>
    <v-content>
      <Phone :onPhone="reset" />
      <Code :onCode="reset" />
    </v-content>
  </v-card>
</template>

<script>
import Phone from "./Phone";
export default {
  props: ["onReset"],
  data() {
    return {
      password: "",
      phone: ""
    };
  },
  methods: {
    reset() {
      this.onReset({
        dialog: false
      });
    }
  },
  components: {
    Phone
  }
};
</script>
<style lang="scss" scoped>
.v-card__title {
  background-color: #549ce6;
  color: #fff;
}
</style>