<template>
  <div class="form-block">
    <p>
      <span>Шаг 1:</span>Введите Ваш номер телефона и мы вышлем вам код
      для продолжения регистрации
    </p>
    <form>
      <div class="form-group" :class="{ 'is-invalid': $v.phone.$error }">
        <label for="phone" class="form__label">Телефон</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          v-model="phone"
          @blur="$v.phone.$touch()"
        />
        <div
          class="invalid-feedback"
          v-if="$v.phone.$error && !$v.phone.required"
        >Поле телефон обязательно</div>
        <div class="invalid-feedback" v-else-if="!$v.phone.numeric">Поле не должно содержать буквы</div>
        <div
          class="invalid-feedback"
          v-else-if="
              !$v.phone.minLength || !$v.phone.maxLength
            "
        >Это поле должно содержать 10 символов</div>
      </div>
      <button
        type="submit"
        class="btn"
        :disabled="$v.phone.$invalid"
        @click.prevent="sendPhone"
      >Получить код</button>
    </form>
  </div>
</template>

<script>
const {
  required,
  minLength,
  maxLength,
  numeric
} = require("vuelidate/lib/validators");
export default {
  props: ["onPhone"],
  data() {
    return {
      phone: ""
    };
  },
  validations: {
    phone: {
      required,
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    }
  },
  computed: {},
  methods: {
    sendPhone() {
      this.onPhone({
        phone: this.phone
      });
    }
  }
};
</script>