<template>
  <div class="form-block">
    <p>
      <span>Шаг 3:</span>Для завершения регистрации заполните поле пароль
    </p>
    <form>
      <div class="form-group" :class="{ 'is-invalid': $v.password.$error }">
        <label for="password">Введите пароль</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Пароль"
          v-model="password"
          @blur="$v.password.$touch()"
        />
        <div
          class="invalid-feedback"
          v-if="$v.password.$error && !$v.password.required"
        >Поле пароль обязательно</div>
        <div
          class="invalid-feedback"
          v-else-if="!$v.password.minLength"
        >Это поле должно содержать не менее 6 символов</div>
      </div>
      <div class="form-group" :class="{ 'is-invalid': $v.repeatPassword.$error }">
        <label for="repeatPassword">Повторите пароль</label>
        <input
          class="form-control"
          type="password"
          id="repeatPassword"
          placeholder="Повторите пароль"
          v-model="repeatPassword"
          @blur="$v.repeatPassword.$touch()"
        />
        <div
          class="invalid-feedback"
          v-if="!$v.repeatPassword.sameAsPassword"
        >Пароли должны совпадать</div>
      </div>

      <button
        type="submit"
        class="btn"
        :disabled="$v.password.$invalid || $v.repeatPassword.$invalid"
        @click.prevent="registration"
      >Войти</button>
    </form>
  </div>
</template>
<script>
const { required, minLength, sameAs } = require("vuelidate/lib/validators");
export default {
  props: ["onRegistration"],
  data() {
    return {
      password: "",
      repeatPassword: ""
    };
  },
  validations: {
    password: {
      required,
      minLength: minLength(6)
    },
    repeatPassword: {
      sameAsPassword: sameAs("password")
    }
  },
  methods: {
    registration() {
      this.onRegistration({
        phone: this.$store.state.user.phone,
        password: this.password
      });
    }
  }
};
</script>